/* CSS */
::-webkit-scrollbar {
    height: 1rem;
    width: 0.5rem;
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Cor do preenchimento da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #c0c0c060;
    border-radius: 2px;
}

/* Estilo ao passar o mouse sobre a barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background-color: #c0c0c080;
}

/* Estilo para o botão de aumento e diminuição da barra de rolagem */
::-webkit-scrollbar-button {
    display: none;
}